&__btn {
    width: auto;
    height: 39px;
    border: 1px solid $green;
    border-radius: 4px;
    padding: 12px 16px;
    line-height: 1;
    font-size: 13px;
    font-family: 'SF Mono';
    color: $green;

    &:hover {
        color: $green;
        transition: 0.25s;
        transform: translate(-4px, -4px);
        outline: none;
        box-shadow: 3px 3px 0 0 $green;
    }
}

.--green {
    color: $green;
}
