@media (max-width: 768px) {
  .header {
    backdrop-filter: blur(3px);
  }
  .side-elements__contacts {
    left: 10px !important;
  }
  .side-elements__mailto {
    right: 10px !important;
  }
}
@media (max-width: 480px) {
  body {
    padding: 0 50px !important;
  }
  body .hero__span {
    font-size: 16px;
  }
  body .hero__h2 {
    font-size: 40px !important;
  }
  body .hero__h3 {
    font-size: 40px !important;
  }
  body .hero__p {
    font-size: 18px !important;
  }
  body .hero__container-btns {
    flex-wrap: wrap;
    gap: 10px;
  }
  body .hero__btn:first-child {
    margin-right: 10px !important;
  }
  body .hero__btn {
    margin-right: 0 !important;
  }
  body .about__content {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    gap: 30px !important;
  }
  body .about__image {
    position: relative;
  }
  body .about__image > img {
    width: 100%;
    max-width: 300px !important;
  }
  body .about__image::after {
    max-width: 300px;
    max-height: 450px;
    top: 14px !important;
    left: 14px !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body {
    padding: 0 75px !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    padding: 0 100px;
  }
}